# sbt specific
dist/*
target/
boot/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# SwissProt .dat file
uniprot_sprot.dat

.tags*
.sublime*
.atom*
.ensime*
.idea*
